@model CategoryCreateDto
<form>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input  class="form-control" asp-for="Title">
        <span asp-validation-for="Title" class="input-group-text"></span>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
